#logo{
    /*background-color: #EEE9DA;*/
    justify-content: center;
    font-family: futura-pt, sans-serif;
    font-style: normal;
    font-weight: 900;

    background: linear-gradient(300deg, #6096B4, #BDCDD6, #EEE9DA);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;

    padding-top: 25px;
    padding-bottom: 15px;

    letter-spacing: 3px;
}

#form{
    background-color:#f8f7f2 ;
}

#title{
    background-color:#ffffff ;
}
caption#tableTitle {
    caption-side: top;
    text-align: center;

}

#CurAccDFlex{
justify-content: space-evenly;
}

#valueOK{
    background-color: rgb(20, 184, 129);
    text-align: center;
}

#rowMarginPlus{
margin-left: 15px;
margin-right: 15px;
}